@font-face {
    font-family: 'Noto Bb';
    src: url('./Noto_Sans_KR/NotoSansKR-Black.otf');
}

@font-face {
    font-family: 'Noto Bs';
    src: url('./Noto_Sans_KR/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto M';
    src: url('./Noto_Sans_KR/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'Noto R';
    src: url('./Noto_Sans_KR/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto L';
    src: url('./Noto_Sans_KR/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto T';
    src: url('./Noto_Sans_KR/NotoSansKR-Thin.otf');
}

* {
    font-family: 'Noto R';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

#wrap {
    width: 100%;
    position: relative;
}

/* header 영역 */

header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 14px;
}

.header-wrap {
    width: 80%;
    height: 60px;
    margin: 0px auto;
}

.header-list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
}

.header-list .header-item {
    padding-left: 55px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}